.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__dropdown {
        position: absolute;
        z-index: 10;
        height: 6rem;
        top: -3rem;
        min-width: 80%;
        opacity: 0;
        transition: all 0.3s ease-out;
        &:hover {
            opacity: 1;
            top:0;
        }
        &--active {
            top: 0;
            opacity: 1;
        }

        &__content {
            width: 100%;
            height: 100%;
            display: flex;
            border-radius: 2rem;
            margin-top: 1rem;
            justify-content: space-between;
            background:  var(--gray-900);
            &__nav {
                display: flex;
                align-items: center;
            }
        }

    }

}