.asset {
  margin-right: 22px;
  display: flex;
  flex-direction: column;
  &__title {
    color: white;
    margin-top: 10px;
    font-size: 24px;
    font-weight: 400;
  }
  &__box {
    height: 30rem;
    width: 20rem;
    padding: 2rem;
    fill: white;
    //background-color: ${({ color }) => color};
    border-color: white;
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
    border-radius: 7px;
    &__focused {
      border-width: 0.5rem;
    }
  }
}