.asset {
  margin-right: 22px;
  display: flex;
  flex-direction: column;

  &__box {
    height: 20rem;
    fill: white;
    border-color: white;
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
    border-radius: 7px;

    &__film-icon {
      color: white;
      font-size: 20px;
      font-weight: 400;
      width: 13rem;
      padding: 1rem;
      border-color: white;
      border-style: solid;
      overflow: hidden;
      //white-space: nowrap;
      text-overflow: ellipsis;
      //display: block; or...
      display: inline-block;
    }
    &__focused {
      border-width: 0.5rem;
    }
  }
}