  .content {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    &__scrolling-rows {
      overflow-y: auto;
      overflow-x: hidden;
      flex-shrink: 1;
      flex-grow: 1;
    }

    &__selected-item {
      height: 40rem;
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;
      justify-content: center;
      background-color: black;
      margin-bottom: 37px;
      border-radius: 7px;
      background-repeat: no-repeat;
      background-size: 40% ;
      background-position: 0 20%;
      &__poster {
        height: 40rem;
      }
      &__title {
        padding-top: 5rem;
        padding-left: 20rem;
        padding-right: 20rem;
        color: white;
        font-size: 6rem;
        font-weight: 400;
      }

    }
  }