.content-row {
  &__title {
    color: white;
    margin-bottom: 22px;
    font-size: 27px;
    font-weight: 700;

  }
  &__scrolling {
    overflow-x: auto;
    overflow-y: hidden;
    flex-shrink: 1;
    flex-grow: 1;
    &__content {
      display: flex;
      flex-direction: row;
    }
  }
  &__scrolling::-webkit-scrollbar {
    display: none;
  }
}