:root {
  --default-blue: 0 77 144;
  --medium-blue: 174 191 206;
  --light-blue: 235 241 247;
  --default-green: rgb(64 155 103);

  --slate-50	: rgb(248 250 252);
  --slate-100: rgb(241 245 249);
  --slate-200: rgb(226 232 240);
  --slate-300: rgb(203 213 225);
  --slate-400: rgb(148 163 184);
  --slate-500: rgb(100 116 139);
  --slate-600: rgb(71 85 105);
  --slate-700: rgb(51 65 85);
  --slate-800: rgb(30 41 59);
  --slate-900: rgb(15 23 42);
  --slate-950: rgb(2 6 23);
  --gray-50	: rgb(249 250 251);
  --gray-100	: rgb(243 244 246);
  --gray-200	: rgb(229 231 235);
  --gray-300	: rgb(209 213 219);
  --gray-400	: rgb(156 163 175);
  --gray-500	: rgb(107 114 128);
  --gray-600	: rgb(75 85 99);
  --gray-700	: rgb(55 65 81);
  --gray-800	: rgb(31 41 55);
  --gray-900	: rgb(17 24 39);
  --gray-950	: rgb(3 7 18);
  --cyan-50: rgb(236 254 255);
  --cyan-100: rgb(207 250 254);
  --cyan-200: rgb(165 243 252);
  --cyan-300: rgb(103 232 249);
  --cyan-400: rgb(34 211 238);
  --cyan-500: rgb(6 182 212);
  --cyan-600: rgb(8 145 178);
  --cyan-700: rgb(14 116 144);
  --cyan-800: rgb(21 94 117);
  --cyan-900: rgb(22 78 99);
  --cyan-950: rgb(8 51 68);
  --red-50: rgb(254 242 242);
  --red-100: rgb(254 226 226);
  --red-200: rgb(254 202 202);
  --red-300: rgb(252 165 165);
  --red-400: rgb(248 113 113);
  --red-500: rgb(239 68 68);
  --red-600: rgb(220 38 38);
  --red-700: rgb(185 28 28);
  --red-800: rgb(153 27 27);
  --red-900: rgb(127 29 29);
  --red-950: rgb(69 10 10);

  /* Overlay */
  --overlay-loader-bg: rgb(233 233 233 / 60%);
  --overlay-loader-item: #368fcd;
}
