:root {
  --default-blue: 0 77 144;
  --medium-blue: 174 191 206;
  --light-blue: 235 241 247;
  --default-green: 64 155 103;

  /* Overlay */
  --overlay-loader-bg: rgb(233 233 233 / 60%);
  --overlay-loader-item: #368fcd;
}
